nav,
.strip {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
.strip {
  background-color: rgba(160, 34, 121, 1);
}
.strip > li {
  width: 25%;
}

.hero,
.nft {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 2px salmon solid;
}
.hero > div {
  border: 2px red solid;
  /* width: 50%; */
  margin: 2em 1em;
}
.input {
  text-align: center;
}
img {
  width: 100%;
}
.logo {
  width: 50%;
}
.menu {
  width: 25px;
  position: relative;
  z-index: 1;
}
.nav-list {
  display: none;

}
.display{
  display: block;
}
.clear{
  cursor: pointer;
}
.close{
  display: none;
  position: relative;
  z-index: 1;
  height:0;
}
li {
  list-style: none;
  padding: 0.5em;
}
a {
  text-decoration: none;
}
a:hover {
  border-bottom: 0.5px solid rgba(160, 34, 121, 1);
}
.nav-list.view {
  display: block;
  position: relative;

}
button,
input[type="submit"] {
  padding: 0.75em;
  background-color: rgba(160, 34, 121, 1);
  border: none;
  border-radius: 5px;
  color: white;
}
.cards {
  margin: 1em;
  padding: 1em;
  border: 0.5px solid gray;
  border-radius: 5px;
}
.card-holder > h1 {
  text-align: center;
}
.cardText {
  display: grid;
  grid-template-columns: auto auto;
}
em {
  font-style: normal;
}
.nft {
  background-color: rgba(160, 34, 121, 1);
}
.nft > div {
  padding: 1em;
}
.nft > div > p,
.nft > div > h1 {
  color: white;
}
.nft > div > button {
  background-color: white;
  color: rgba(160, 34, 121, 1);
}
.footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
}
.footer > div {
  margin: 1em;
  text-align: center;
}
.footer > div > img {
  width: 55%;
}
.footer:first-child {
  margin-top: 1.5em;
}
ul {
  padding: 0 !important;
}
.footer > div > ul > li {
  color: white;
}
.places{
  display: flex;
  flex-direction: row;

  justify-content: center;
  flex-wrap: wrap;
}
.overall.view{
background-color: gray;
  position: relative;
  z-index: 2;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.connect{
  width: 70%;
  border-radius: 10px;

  border: .5px solid black;
  background-color: rgb(243, 243, 243);
  padding: 1em;
}
.wallet{
  background-color: rgb(237, 233, 233);
  color: black;
  border-radius: 5px;
  border: .3px solid black;
  margin: .5em;
  justify-content: space-between;
}
.row-one{
  display: flex;

  justify-content: space-between;
}
.collections{
  display: flex;
  flex-direction: column;
  width: 70%;


}
.location-filter{
  border: 1px solid black;
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: .4em;
  width: 150px;
  display: flex;
  justify-content: space-between;
}
.location-filter > img{
  width: 20px;
}
a{
  color: Black !important;
  margin:.5em 0;
  text-decoration: none !important;
  border-bottom: 2px solid rgba(160, 34, 121, 1);
}
.home{
  border: none;
  margin: 0;
  text-decoration: none !important;
}