@import url("https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400&display=swap");

#root,
button {
  font-family: "Red Rose", sans-serif;
  overflow-x: hidden;
}
nav,
.strip {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
.nav {
  width: 100%;
}
.strip {
  background-color: rgba(160, 34, 121, 1);
  margin: 2em 0;
}
.strip > li {
  width: 15%;
}

.hero,
.nft {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.hero > div {
  margin: 2em 1em;
}
.input {
  text-align: center;
}
img {
  width: 100%;
}
.logo {
  width: 188px;
}
.menu {
  width: 25px;
  position: relative;
  z-index: 1;
}
.nav-list {
  display: none;
}
.display {
  display: block;
}
.clear {
  cursor: pointer;
}
.close {
  display: none;
  position: relative;
  z-index: 1;
  height: 0;
}
li {
  list-style: none;
  padding: 0.5em;
}
a {
  text-decoration: none;
}
a:hover {
  border-bottom: 0.5px solid rgba(160, 34, 121, 1);
}
.nav-list.view {
  display: block;
  position: relative;
}
button,
input[type="submit"] {
  padding: 1em;
  background-color: rgba(160, 34, 121, 1);
  border: none;
  border-radius: 5px;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.place > h1 {
  width: 93%;
}
.cards {
  margin: 1em;
  padding: 1em;
  border: 0.5px solid gray;
  border-radius: 5px;
}
.card-holder > h1 {
  text-align: center;
}
.cardText {
  display: grid;
  gap: 1em;
  text-align: left;
  grid-template-columns: auto auto;
}
em {
  font-style: normal;
}
.nft-container {
  background-color: rgba(160, 34, 121, 1);
}
.nft > div {
  padding: 1em;
}
.nft > div > p,
.nft > div > h1 {
  color: white;
}
.nft > div > button {
  background-color: white;
  color: rgba(160, 34, 121, 1);
  width: 40%;
}
.nft > div > img {
  margin: 1.5em 0;
}
.footer-container {
  background-color: black;
}
.footer {
  display: flex;
  flex-direction: column;

  color: white;
}
.footer > div {
  margin: 1em;
  text-align: center;
}
.footer > div > img {
  margin-top: 1.5em;
  width: 188px;
}

ul {
  padding: 0 !important;
}
.footer > div > ul > li {
  color: white;
  font-size: 14px;
}
.places {
  display: flex;
  flex-direction: row;

  justify-content: center;
  flex-wrap: wrap;
}

.overall.view {
  display: flex;
}
.overall {
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  background: rgb(255, 255, 255);
}
.overall-container {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(64, 64, 64, 0.3);
  height: 100vh;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100% !important;
  /* width: 100vw; */
}
.connect {
  background-color: #f8f9fa;
  padding: 1em;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.wallet {
  background-color: #f8f9fa;
  color: black;
  border-radius: 5px;
  border: 0.3px solid black;
  margin: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}
.wallet > div {
  display: flex;
  align-items: center;
}
.wallet > div > img {
  width: 50px;
}
.wallet > span {
  color: gray;
  width: 15px;
  font-size: 2em;
  height: 8px;
}
.overall > p {
  margin: 1em;
}
.wallet > div > em {
  margin: 1em;
}
.row-one {
  display: flex;

  justify-content: space-between;
}
.collections {
  display: flex;
  flex-direction: column;
}
.location-filter {
  border: 1px solid black;
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 0.4em;
  width: 150px;
  display: flex;
  justify-content: space-between;
}
.location-filter > img {
  width: 20px;
}
a {
  color: Black !important;
  margin: 0.5em 0;
  text-decoration: none !important;
}
a:hover {
  border-bottom: 2px solid rgba(160, 34, 121, 1);
}
.home {
  border: none;
  margin: 0;
  text-decoration: none !important;
}
span {
  color: rgba(160, 34, 121, 1);
}
.thumbnail,
.thumbnails {
  position: relative;
  width: 100%;
  border-radius: 12px;
  height: 200px;
}
.thumbnails {
  margin: 1em;
}
.thumbnail-list {
  display: flex;
  justify-content: center;
  margin: 1em;
}
.thumbnail > div {
  border-radius: 12px;
  margin-bottom: 1em;
}
.thumbnails > div {
  width: 18px;
  height: 16px;
  border-radius: 1px;
}
.input {
  width: 266px;
  display: flex;
}
input[type="text" i] {
  padding: 1em;
  border: none;
  border: 1px solid black;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
input[type="submit" i] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.place {
  text-align: center;
}
.card-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.copy,
.connect-wallet {
  display: none;
}

@media screen and (min-width: 750px) {
  #root {
    display: flex;
    width: 100%;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
  }
  .nav-list,
  .connect-wallet {
    display: block;
  }
  .menu,
  .connect-wallet-mobile {
    display: none;
  }
  .nav,
  .hero {
    width: 90%;

    display: flex;
    align-items: center;

    justify-content: space-between;
    padding: 1em;
  }
  nav {
    width: 25%;
  }
  .nav > div {
    width: 15%;
    padding: 0.75em;
  }
  .nav > ul {
    display: flex !important;
    width: 40%;
    justify-content: space-between;
  }

  .hero {
    display: flex;
    flex-direction: row;
  }
  .hero > div {
    width: 45%;
    margin: 0;
  }
  .nft {
    display: flex;
    flex-direction: row;
  }
  .text,
  .nft > div {
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .strip-div,
  .nft-container,
  .footer-container {
    width: 100% !important;
  }
  .text,
  .nft > div > img {
    margin: 3em;
    width: 90%;
  }
  .form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    width: 100%;
  }
  .input {
    border-radius: 5px;
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
  .input > input {
    padding: 0.7em;

    width: 50%;
  }
  .cards {
    width: 235px;
  }
  .card-holder {
    display: flex;
    flex-wrap: wrap;
  }
  .nft {
    width: 95%;
  }
  .places-container {
    display: flex;
    justify-content: center;
  }
  .places {
    width: 90%;
    justify-content: space-between;
  }
  .nft-container {
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .card-holder {
    width: 100%;
  }

  .nft > div > p {
    max-width: 500px;
  }
  .nft > div > h1 {
    width: 100%;
  }
  .footer > div > img {
    width: 55%;
    margin-top: 0;
  }
  .footer > div {
    text-align: left;
  }
  .footer {
    padding: 2em;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .thumbnail-list {
    display: flex;
    justify-content: space-between;
  }
  .thumbnails {
    margin: 0;
  }
  .footer-logo {
    margin-bottom: 2em;
  }
  h6 {
    margin: 0;
    font-size: 18px;
  }
  .copyright {
    width: 20px;
  }
  .copy {
    width: 65%;

    display: flex;
    justify-content: space-between;
  }
  .overall {
    width: 500px;
  }
  .hero-img {
    width: 90%;
    margin-top: 4em;
  }
}
